
body {
    padding-top: 100px;
    background-color: #1e88e5;
    color: #ffffff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient( rgba(30,136,229,0.70), rgba(30,136,229,0.70) ), url(/public/img/bg_sea.jpg);
}

.loggedinbody {
    padding-top: 0px;
}

nav {
    padding-left: 20px;
    padding-right: 20px;
}

main {
    flex: 1 0 auto;
}

/*BUTTONS*/

.btn {
  margin-bottom: 4px;
}

.btn-floating {
  position: fixed;
}

#btn-navright {
  border-radius: 0px;
  height: auto;
  width: auto;
  padding: 10px 20px;
  color: #ffffff;
}

.btn-mg {
  margin: 10px;
}

.modal .modal-footer .btn {
    margin-left: 5px;
    margin-right: 5px;
}

/*IMAGES*/



/*MASONRY*/

.grid-item { 
  display: inline-block;
  width: 300px;
  height: auto;
}

.grid-item .responsive-img {
  width: 100%;
}

@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
 .grid-item {
 width: 100%;
 }
}

.title-hover {
  background: linear-gradient( rgba(30,136,229,0.70), rgba(30,136,229,0.70) );
  width: 100%;
  max-height: 100%;
  overflow: scroll;
}

.card {
  border-radius: 0px;
  margin-bottom: -10px;
}

.card .card-image img {
  border-radius: 0px;
}

.card .card-reveal {
  background: linear-gradient( rgba(255,255,255,0.80), rgba(255,255,255,0.80) );
  height: 101%;
}

/*FORMS*/

/* label color */
.input-field label {
 color: #ffffff;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #ffffff;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #ffffff;
 box-shadow: 0 1px 0 0 #ffffff;
}

form {
 padding: 40px;
}