
body {
    padding-top: 100px;
    background-color: #1e88e5;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient( rgba(30,136,229,0.70), rgba(30,136,229,0.70) ), url(/public/img/bg_sea.jpg);
}

main {
    flex: 1 0 auto;
}

/*BUTTONS*/

.btn {
  margin-bottom: 4px;
}

.btn-floating {
  position: fixed;
}

#btn-navright {
  border-radius: 0px;
  height: auto;
  width: auto;
  padding: 10px 20px;
  color: #ffffff;
}

/*IMAGES*/



/*MASONRY*/

.grid {
    width: 100%;
}

.grid-item { 
  width: 200px; 
  line-height: 0px;
  font-size: 0px;
}

.grid-item .responsive-img {
  width: 100%;
}

@media only screen and (max-width : 599px),
only screen and (max-device-width : 599px){
 .grid-item {
 width: 100%;
 }
}
