
<div class="container center-align">
    <img id="finterest" class="responsive-img" src="/public/img/finterest.png" />
</div>

<div class="container center-align" ng-if="loading">
    <h3>Loading...</h3>
  <div class="progress blue lighten-2">
      <div class="indeterminate blue darken-2"></div>
  </div>
</div>

<div class="grid center-align">
    <div class="grid-item" ng-repeat="item in items">
        <div class="card">
            <div class="card-image" ng-mouseenter="titleShow = true" ng-mouseleave="titleShow = false" ng-click="titleShow = false">
                <img class="activator" ng-src="{{item.img_url}}">
                <span class="card-title title-hover" ng-show="titleShow">{{ item.img_title }}</span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i class="fa fa-times"></i></span>
              <p>{{ item.img_title }}.</p>
            </div>
        </div>
    </div>
</div>

    
