<div class="container">
    
    
<h1>Add a new image.</h1>

<div ng-if="helpForm" class="col s12 white blue-text center-align"> 
 <p class="flow-text">{{ helpForm }}</p>
</div>
    
<div class="col s12 blue center-align">  
    <form ng-submit="addImage()">
    
        <div class="row form-name">
            <div class="input-field col s12">
              <input ng-model="formData.imgUrl" id="url" type="text" name="url" required="true">
              <label for="url">Image Url</label>
            </div>
        </div>
        
        <div class="row form-name">
            <div class="input-field col s12">
              <input ng-model="formData.imgTitle" id="title" type="text" name="title" required="true">
              <label for="title">Image Title / Description</label>
            </div>
        </div>
        
        <input type="submit" id="updateInfo" class="waves-effect waves-grey btn-large blue darken-3" value="Add Image" />
        
    </form>
</div>

</div>